@font-face {
   font-family: "Bariol";

    src: url("fonts/Bariol_RegularItalic/bariol_regular_italic-webfont.eot");

    src: url("fonts/Bariol_RegularItalic/bariol_regular_italic-webfont.eot") format("embedded-opentype"),

         url("fonts/Bariol_RegularItalic/bariol_regular_italic-webfont.woff") format("woff"),

         url("fonts/Bariol_RegularItalic/bariol_regular_italic-webfont.ttf") format("truetype"),

         url("fonts/Bariol_RegularItalic/bariol_regular_italic-webfont.svg#JournalRegular") format("svg");
}